@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:900,600,800,500,700|Poppins:500,600,500italic");
@import url("https://px.animaapp.com/64e7337cd3c216599309a3ab.64e7337dd3c216599309a3ae.64e7337ed3c216599309a3b0.hcp.png");

@font-face {
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Satoshi-Bold") format("opentype");
}
@font-face {
  font-family: "Satoshi-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/Satoshi-Medium") format("woff");
}

body {
  overflow: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
