/* screen - index */
* {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.progress {
  transition: width 0.7s;
  -webkit-transition: width 0.7s;
  -moz-transition: width 0.7s;
  -ms-transition: width 0.7s;
  -o-transition: width 0.7s;
}

.index {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    height: 67.5rem;
    overflow: hidden;
    width: 120rem;
  }
  
  .index .overlap-group8 {
    height: 78rem;
    margin-left: -2.3125rem;
    position: relative;
    width: 122.375rem;
  }
  
  .index .overlap-group7 {
    height: 78rem;
    left: 2.3125rem;
    position: absolute;
    top: 0;
    width: 120.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index .overlap-group7-item {
    height: 67.5rem;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 120rem;
    /* filter: brightness(0.1);
    -webkit-filter: brightness(0.1); */
}
  
  .index .black {
    height: 67.5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 120rem;
  }
  
  .index .ellipse-17 {
    height: 52.0625rem;
    left: 0.875rem;
    position: absolute;
    top: 0;
    width: 118.25rem;
  }
  
  .index .ellipse-20 {
    background-color: #71717180;
    border-radius: 7.375rem;
    filter: blur(21.875rem);;
    height: 14.75rem;
    left: 105.3125rem;
    position: absolute;
    top: 63.25rem;
    width: 14.75rem;
  }
  
  .index .rectangle-1 {
    background-color: #d9d9d90a;
    border-radius: 0.1875rem;
    box-shadow: inset 0rem 0rem 0.25rem #ffffff52 , 0rem 0rem 8.25rem #cdcdcd1f;
    height: 1rem;
    position: absolute;
    top: 63.25rem;
    width: 95%;
  }
  
  .index .rectangle-2 {
    background: var(--bar);
    border-radius: 0.1875rem;
    width: 50%;
    height: 100%;
    -webkit-border-radius: 0.1875rem;
    -moz-border-radius: 0.1875rem;
    -ms-border-radius: 0.1875rem;
    -o-border-radius: 0.1875rem;
}
  
  .index .please-wait-game-loading {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: var(--loading);
    background-clip: text;
    color: transparent;
    font-family: var(--font-family-gothic_a1);
    font-size: 1.3313rem;
    font-weight: 900;
    left: 3.8125rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-fill-color: transparent;
    top: 60.3125rem;
  }
  
  .index .rectangle-3 {
    background-color: var(--scarlet);
    border-radius: 0.125rem;
    filter: blur(5.75rem);;
    height: 1.5rem;
    left: 112.5rem;
    position: absolute;
    top: 59.75rem;
    width: 3.125rem;
  }
  
  .index .text-1 {
    color: var(--scarlet);
    font-family: var(--font-family-gothic_a1);
    font-size: 1.3313rem;
    font-weight: 900;
    left: 112.5rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 59.75rem;
  }
  
  .index .overlap-group3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(11, 10, 14, 0.1) 100%);
    height: 10rem;
    left: 6.3125rem;
    position: absolute;
    top: 37.25rem;
    width: 28.25rem;
  }
  
  .index .overlap-group1-1 {
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2662rem;
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    left: 1rem;
    min-height: 7.125rem;
    padding: 0.5188rem 0.7312rem;
    position: absolute;
    top: 1.4375rem;
    width: 26.375rem;
  }
  
  .index .flex-row {
    align-items: center;
    display: flex;
    gap: 11.6875rem;
    height: 1.75rem;
    min-width: 24.75rem;
  }
  
  .index .new-hint {
    color: var(--gunsmoke-2);
    font-family: var(--font-family-poppins);
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    min-height: 1.75rem;
    min-width: 5.875rem;
  }
  
  .index .overlap-group-2 {
    align-items: flex-start;
    background-color: var(--silver-chalice-2);
    border-radius: 0.0681rem;
    display: flex;
    height: 1.3125rem;
    justify-content: flex-end;
    margin-bottom: 0.0381rem;
    min-width: 7.1875rem;
    padding: 0.2625rem 0.7375rem;
  }
  
  .index .did-you-know-that {
    color: var(--silver-chalice);
    font-family: var(--font-family-gothic_a1);
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 0.75rem;
  }
  
  .index .lorem-ipsum-is-simpl-1 {
    align-self: center;
    color: var(--white-2);
    font-family: var(--font-family-gothic_a1);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 0.0644rem;
    min-height: 2.5625rem;
    width: 24.625rem;
  }
  
  .index .line-1-1 {
    height: 0.0625rem;
    left: 1.75rem;
    position: absolute;
    top: 4.25rem;
    width: 24.8125rem;
  }
  
  .index .overlap-group2-1 {
    align-items: flex-start;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(11, 10, 14, 0.1) 100%);
    display: flex;
    height: 10rem;
    justify-content: flex-end;
    left: 86.0625rem;
    min-width: 28.25rem;
    padding: 1.425rem 0.9063rem;
    position: absolute;
    top: 7.1875rem;
  }
  
  .index .overlap-group-3 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2662rem;
    height: 7.125rem;
    position: relative;
    width: 26.375rem;
  }
  
  .index .rectangle-162 {
    background-color: var(--silver-chalice-2);
    border-radius: 0.0887rem;
    height: 1.6875rem;
    left: 18.8125rem;
    position: absolute;
    top: 2.6875rem;
    width: 6.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index .x1-d-2-h-3-m {
    color: var(--silver-chalice);
    font-family: var(--font-family-gothic_a1);
    font-size: 0.925rem;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .index .overlap-group4 {
    align-items: flex-start;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(11, 10, 14, 0.1) 100%);
    display: flex;
    height: 10rem;
    justify-content: flex-end;
    left: 45.6875rem;
    min-width: 28.25rem;
    padding: 0.8812rem 0.9063rem;
    position: absolute;
    top: 7.125rem;
  }
  
  .index .overlap-group-4 {
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2662rem;
    display: flex;
    height: 8.1875rem;
    justify-content: flex-end;
    min-width: 26.375rem;
    padding: 0.9375rem 1.1313rem;
  }
  
  .index .rectangle-158 {
    align-self: center;
    height: 4.3125rem;
    margin-top: 0.2606rem;
    object-fit: cover;
    width: 4.3125rem;
  }
  
  .index .flex-col-1 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2581rem;
    margin-left: 1.3125rem;
    min-height: 4.9375rem;
    width: 16rem;
  }
  
  .index .overlap-group1-2 {
    height: 2.375rem;
    position: relative;
    width: 8rem;
  }
  
  .index .cigarettes-after-sex {
    color: #a8a8a8;
    font-family: var(--font-family-satoshi-bold);
    font-size: 0.8625rem;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .index .apocalypse {
    color: var(--sonic-silver);
    font-family: var(--font-family-satoshi-medium);
    font-size: 0.8625rem;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1.1875rem;
  }
  
  .index .rectangle-159 {
    background-color: #d9d9d921;
    border-radius: 0.21rem;
    height: 0.1875rem;
    margin-top: 0.625rem;
    width: 16rem;
  }
  
  .index .controls {
    align-items: flex-end;
    align-self: center;
    display: flex;
    gap: 1.1875rem;
    margin-right: 0;
    margin-top: 0.9375rem;
    min-width: 8.5625rem;
  }
  
  .shuf-svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index .shuffle {
    height: 0.75rem;
    margin-top: 0;
    width: 0.75rem;
  }
  
  .index .controls-item {
    height: 0.75rem;
    margin-bottom: 0;
    width: 0.75rem;
  }
  
  .index .spotify {
    height: 1.1875rem;
    margin-left: 1.125rem;
    width: 1.1875rem;
  }

  .musictime {
    background: white;
    width: 0%;
    height: 100%;
  }


  
  .index .group-container-1 {
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(11, 10, 14, 0.1) 100%);
    display: flex;
    flex-direction: column;
    gap: 0.6875rem;
    left: 86.0625rem;
    min-height: 30.25rem;
    padding: 1.1rem 0;
    position: absolute;
    top: 19rem;
    width: 28.25rem;
  }
  
  .index .group-140 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2662rem;

    gap: 0.125rem;
    margin-left: 0.0406rem;
    min-height: 7.5625rem;
    padding: 1.4875rem 3.1rem;
    width: 26.375rem;
    
  }
  
  .index .title {
    color: #848484;
    font-family: var(--font-family-gothic_a1);
    font-size: 2.2625rem;
    font-weight: 900;
    letter-spacing: 0.0563rem;
    line-height: normal;
    margin-top: 0.4375rem;
    width: max-content;
  }
  
  .index .lorem-ipsum-is-simply-dummy-text {
    color: #808080;
    font-family: var(--font-family-gothic_a1);
    font-size: 1.0188rem;
    font-weight: 500;
    letter-spacing: 0.0256rem;
    line-height: normal;
  }
  
  .index .overlap-group-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.25rem;
    min-height: 19.6875rem;
    padding: 0.7438rem 0.9375rem;
    width: 26.625rem;
  }
  
  .index .overlap-group1-3 {
    border-radius: 0.2494rem;
    height: 4rem;
    margin-top: 0.1875rem;
    position: relative;
    width: 24.6875rem;
  }
  
  .index .social-container {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2494rem;
    height: 4rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 24.6875rem;
  }
  
  .index .instagram {
    left: 0.8125rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0.8125rem;
  }
  
  .index .instagramusername {
    color: var(--scarlet);
    font-family: var(--font-family-poppins);
    font-size: 0.6125rem;
    font-style: italic;
    font-weight: 500;
    left: 0.875rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2.3125rem;
  }
  
  .index .vector {
    height: 1.1875rem;
    left: 22.375rem;
    position: absolute;
    top: 1.1875rem;
    width: 1.1875rem;
  }
  
  .index .overlap-group-5 {
    align-items: center;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2494rem;
    display: flex;
    gap: 17.75rem;
    height: 4rem;
    margin-top: 0.5625rem;
    min-width: 24.6875rem;
    padding: 0.7625rem 0.8313rem;
  }
  
  .index .overlap-group1-4 {
    align-self: flex-end;
    height: 2.4375rem;
    position: relative;
    width: 3.6875rem;
  }
  
  .index .x {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .index .elonmusk {
    color: var(--silver-chalice);
    font-family: var(--font-family-poppins);
    font-size: 0.6125rem;
    font-style: italic;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1.5rem;
  }
  
  .index .layer1 {
    height: 1.1875rem;
    margin-top: 0.0419rem;
    width: 1.25rem;
  }
  
  .index .overlap-group3-1 {
    border-radius: 0.2494rem;
    height: 4rem;
    margin-top: 0.8125rem;
    position: relative;
    width: 24.6875rem;
  }
  
  .index .discord-container {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2494rem;
    height: 4rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 24.6875rem;
  }
  
  .index .discord-server {
    left: 0.8125rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0.8125rem;
  }
  
  .index .wwwdiscordcominvitehere {
    color: #5b6bff;
    font-family: var(--font-family-poppins);
    font-size: 0.6125rem;
    font-style: italic;
    font-weight: 500;
    left: 0.875rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2.3125rem;
  }
  
  .index .vector-1 {
    height: 1.0625rem;
    left: 22.3125rem;
    position: absolute;
    top: 1.5rem;
    width: 1.375rem;
  }
  
  .index .overlap-group2-2 {
    border-radius: 0.2494rem;
    height: 4rem;
    margin-top: 0.5625rem;
    position: relative;
    width: 24.6875rem;
  }
  
  .index .overlap-group-6 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2494rem;
    height: 4rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 24.6875rem;
  }
  
  .index .pinterest {
    left: 0.8125rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0.8125rem;
  }
  
  .index .overlap-group-container-2 {
    gap: 0.9375rem;
    left: 6.3125rem;
    min-height: 27.3125rem;
    padding: 1.1938rem 1.2625rem;
    position: absolute;
    top: 7.125rem;
    width: 28.25rem;
  }
  
  .index .overlap-group {
    border-radius: 0.26rem;
    height: 7.625rem;
    position: relative;
    width: 25.6875rem;
  }
  
  .index .overlap-group1 {
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.26rem;
    display: flex;
    flex-direction: column;
    gap: 1.1875rem;
    left: 0;
    min-height: 7.625rem;
    padding: 0.7063rem 0.7312rem;
    position: absolute;
    top: 0;
    width: 25.6875rem;
  }
  
  .index .overlap-group-container {
    align-items: flex-start;
    display: flex;
    gap: 10.8125rem;
    min-width: 24.125rem;
  }
  
  .index .overlap-group2 {
    height: 2.5rem;
    position: relative;
    width: 8.625rem;
  }
  
  .index .patch-note-1 {
    width: 300px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .index .gncelleme-ad {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1.5625rem;
  }
  
  .index .overlap-group-1 {
    align-items: flex-end;
    background-color: var(--silver-chalice-2);
    border-radius: 0.0663rem;
    display: flex;
    height: 1.25rem;
    margin-top: 0.2056rem;
    min-width: 4.6875rem;
    padding: 0.1812rem 0.6625rem;
  }
  
  .index .date {
    letter-spacing: 0;
    line-height: normal;
    min-height: 0.75rem;
    min-width: 3.3125rem;
  }
  
  .index .lorem-ipsum-is-simpl {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0;
    min-height: 2.5rem;
    width: 24.125rem;
  }
  
  .index .line-1 {
    height: 0.0625rem;
    left: 0.75rem;
    position: absolute;
    top: 3.75rem;
    width: 24.25rem;
  }
  
  .index .patch-notes {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgba(62.69, 62.69, 62.69, 0.38) 0%, rgba(62.69, 62.69, 62.69, 0.15) 100%);
    background-clip: text;
    left: -9.875rem;
    letter-spacing: 1.7913rem;
    line-height: normal;
    position: absolute;
    text-fill-color: transparent;
    top: 20.875rem;
    transform: rotate(90.00deg);
    -webkit-transform: rotate(90.00deg);
    -moz-transform: rotate(90.00deg);
    -ms-transform: rotate(90.00deg);
    -o-transform: rotate(90.00deg);
}


  
  .index .hint {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgba(62.69, 62.69, 62.69, 0.38) 0%, rgba(62.69, 62.69, 62.69, 0.15) 100%);
    background-clip: text;
    left: -1.4125rem;
    letter-spacing: 2.2487rem;
    line-height: normal;
    position: absolute;
    text-fill-color: transparent;
    top: 42.4375rem;
    transform: rotate(90.00deg);
  }
  
  .index .server {
    position: relative;
    left: 67%;
    top: 54.5%;
    max-width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgba(62.69, 62.69, 62.69, 0.38) 0%, rgba(62.69, 62.69, 62.69, 0.15) 100%);
    background-clip: text;
    letter-spacing: 35.9792px;
    text-fill-color: transparent;
    transform: rotate(90.00deg);
    -webkit-transform: rotate(90.00deg);
    -moz-transform: rotate(90.00deg);
    -ms-transform: rotate(90.00deg);
    -o-transform: rotate(90.00deg);
}
  

  
  .index .rectangle-163 {
    height: 4.5625rem;
    left: 88rem;
    object-fit: cover;
    position: absolute;
    top: 9.9375rem;
    width: 4.5625rem;
  }
  
  .index .ursu-arts {
    color: #909090;
    font-family: var(--font-family-gothic_a1);
    font-size: 1.4438rem;
    font-weight: 900;
    left: 93.6875rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10.125rem;
  }
  
  .index .steamid-5464544564665446 {
    color: transparent;
    font-family: var(--font-family-gothic_a1);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    left: 93.6875rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12.125rem;
  }
  
  .index .span0 {
    color: var(--scarlet);
    font-weight: 700;
  }
  
  .index .span1 {
    color: var(--gunsmoke);
    font-weight: 600;
  }
  
  .index .steamid-5464544564665446-1 {
    color: transparent;
    font-family: var(--font-family-gothic_a1);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    left: 93.6875rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13.25rem;
  }
  
  .index .span0-1 {
    color: #ff9a25;
    font-weight: 700;
  }
  
  .index .overlap-group-7 {
    align-items: center;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2825rem;
    display: flex;
    gap: 14.9375rem;
    height: 4.5625rem;
    left: 45.8125rem;
    min-width: 28rem;
    padding: 0.8625rem 0.9375rem;
    position: absolute;
    top: 18.8125rem;
  }
  
  .index .key-info-container {
    align-self: flex-end;
    height: 2.75rem;
    position: relative;
    width: 9.25rem;
  }
  
  .index .game-key-info {
    color: var(--gunsmoke-2);
    font-family: var(--font-family-poppins);
    font-size: 1.225rem;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .index .added-13-key-information {
    color: var(--scarlet);
    font-family: var(--font-family-poppins);
    font-size: 0.6937rem;
    font-style: italic;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1.6875rem;
  }
  
  .index .vector-2 {
    height: 1.1875rem;
    margin-top: 0.0044rem;
    width: 1.625rem;
  }
  
  .index .group-192 {
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.04) 0%, rgba(217, 217, 217, 0.01) 100%);
    border-radius: 0.2825rem;
    display: flex;
    gap: 0.5625rem;
    height: 25.3125rem;
    justify-content: flex-end;
    left: 45.8125rem;
    min-width: 28rem;
    padding: 1rem 0.4313rem;
    position: absolute;
    top: 24.125rem;
  }
  
  .index .group-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
    max-height: 22.25rem;
    width: 430px;
  }
  
  .index .group-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    min-width: 13.125rem;
  }
  
  .index .link {
    background-color: var(--white);
    border: 0.0244rem solid;
    border-color: var(--mine-shaft);
    border-radius: 0.145rem;
    display: flex;
    height: 2.25rem;
    justify-content: flex-end;
    min-width: 2.25rem;
    padding: 0.325rem 0.7188rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    margin-top: 0.0344rem;
    min-height: 2.0625rem;
    width: 10.125rem;
  }
  
  .index .surname {
    letter-spacing: 0;
    line-height: normal;
    min-height: 0.625rem;
  }
  
  .index .indicates-which-feat {
    letter-spacing: 0;
    line-height: normal;
    min-height: 1.3125rem;
    width: 10.125rem;
  }
  
  .index .ellipse-21 {
    background-color: #ff556a80;
    border-radius: 16.875rem/4.25rem;
    filter: blur(21.875rem);;
    height: 8.5rem;
    left: 0;
    position: absolute;
    top: 68.3125rem;
    width: 33.75rem;
  }
  
  .index .a-14 {
    text-shadow: 0rem 0rem 0.955rem #848484;
  }
  
  .index .overlap-group-container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    max-height: 27.3125rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(11, 10, 14, 0.1) 100%);

  }
  
  .index .patch-note-1-3 {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 300px;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background: #1A1919;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(62.69, 62.69, 62.69, 0.38);
    border-radius: 0.25rem;
}


::-webkit-scrollbar-thumb:horizontal {
    height: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:rgba(62.69, 62.69, 62.69, 0.38);
}