:root { 
    --black: #000000;
    --gunsmoke: #838383;
    --gunsmoke-2: #868686;
    --mine-shaft: #2d2f33;
    --pale-slate: #c3c3c3;
    --scarlet: #ff2540;
    --silver-chalice: #acacac;
    --silver-chalice-2: #acacac21;
    --sonic-silver: #757575;
    --white: #ffffff03;
    --white-2: #ffffff78;
    --bar: linear-gradient(180deg, rgb(255, 37, 64) 0%, rgb(255, 92.44, 112.57) 100%);
    --loading: linear-gradient(180deg, rgb(255, 77.56, 99.54) 0%, rgb(255, 120.06, 136.77) 100%);
    --font-size-l: 7.6px;
    --font-size-m: 7.1px;
    --font-size-xl: 9.6px;
    --font-size-xxl: 10.3px;
    --font-size-xxxl: 11.4px;
    --font-size-xxxxl: 17.9px;
    --font-size-xxxxxl: 18px;
   
    --font-family-gothic_a1: "Gothic A1", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;
    --font-family-satoshi-bold: "Satoshi-Bold", Helvetica;
    --font-family-satoshi-medium: "Satoshi-Medium", Helvetica;
  }
  .satoshi-bold-gunsmoke-17-9px {
    color: var(--gunsmoke);
    font-family: var(--font-family-satoshi-bold);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .satoshi-bold-pale-slate-7-6px {
    color: var(--pale-slate);
    font-family: var(--font-family-satoshi-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .satoshi-medium-sonic-silver-7-1px {
    color: var(--sonic-silver);
    font-family: var(--font-family-satoshi-medium);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-semi-bold-gunsmoke-17-3px {
    color: var(--gunsmoke-2);
    font-family: var(--font-family-poppins);
    font-size: 17.3px;
    font-style: normal;
    font-weight: 600;
  }
  
  .gothica1-black-white-20-6px {
    font-family: var(--font-family-gothic_a1);
    font-size: 20.6px;
    font-style: normal;
    font-weight: 900;
  }
  
  .poppins-medium-gunsmoke-18px {
    color: var(--gunsmoke-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxxxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-medium-scarlet-10-2px {
    color: var(--scarlet);
    font-family: var(--font-family-poppins);
    font-size: 10.2px;
    font-style: italic;
    font-weight: 500;
  }
  
  .gothica1-bold-silver-chalice-9-7px {
    color: var(--silver-chalice);
    font-family: var(--font-family-gothic_a1);
    font-size: 9.7px;
    font-style: normal;
    font-weight: 700;
  }
  
  .satoshi-bold-white-9-6px {
    color: var(--white-2);
    font-family: var(--font-family-satoshi-bold);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
  